.maindiv{
    /* border:1px solid red; */
    min-height: 50rem;
    width: 100%;
    margin:auto;
    overflow-x: hidden;
    display: flex;
  
  }

  .maindiv2{
    /* border:1px solid red; */
    min-height: 50rem;
    width: 57%;
    background-color: rgb(245,245,245);
    padding-left: 3rem;
   
  }
 

  .stardiv{
    display: flex;
    border: 1px solid rgb(79,50,103);
    border-radius: 1rem;
    min-height: 1.6rem;
    width: 20%;
   margin: 3rem 0 0 3rem;
   font-size: 0.8rem;
   font-weight: 500;
   justify-content: space-evenly;
   align-items: center;
  }
  .star{
    color: rgb(235,205,96);
     margin: 0.05rem 0 0 -0.7rem;
  }

.namediv{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: 1rem auto auto auto ;
}

  .name{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(79,50,103);
    width: 70%;
    /* border: 1px solid red; */
   
  }
  .name>p{
    font-size: 0.9rem;
    font-weight: 490;
    color: rgb(79,50,103);
    margin-top: 0.5rem;
   
  }
  .wishlisticon{
    /* border: 1px solid red; */
    width: 8%;
    min-height: 3rem;
    border-radius: 0.7rem;
    background-color: white;
    
  }
  .hearticon{
    margin:auto;
    font-size: 2rem;
    color:rgb(130, 93, 250);
    margin-top: 0.5rem;
    
  }
  .deliveryPtag{
    /* border: 1px solid red; */
    width: 40%;
    min-height: 2rem;
    margin: 3rem 0 0 3.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(79,50,103);
  }
  .locationP{
    color:rgb(228, 90, 236);
  }
 
  .inputdiv{
    min-height: 3.2rem;
    width: 40%;
    /* border: 1px solid red; */
    margin: 0 0 0 3rem;
    display: flex;
  }
  .input{
    min-height: 3.5rem;
    width: 100%;
    border: 1px solid rgb(206, 170, 244);
    border-radius: 0.7rem;
    outline: none;
    text-indent: 1rem;
    
  }
  .locationIcon{
    font-size: 1.5rem;
    margin: 0.9rem 0 0 -2.3rem;
  }

  .belowInput{
    /* border: 1px solid red; */
    width: 39%;
    min-height: 2rem;
    margin: 1.5rem 0 0 3.2rem;
    display: flex;
    justify-content: space-between;
  }
  .belowInput1{
    /* border: 1px solid red; */
    width:13.5%;
    min-height: 2rem;
    border-radius: 0.7rem;
    background-color: rgb(226,226,253);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .bagIcon{
  font-size: 1.5rem;
 
 }


  .belowInput2{
    /* border: 1px solid red; */
    width:80%;
    min-height: 2rem;
   
  }
  .P1{
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(79,50,103);
  }
  .P2{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(79,50,103);
  }

  .Pricediv{
      /* border: 1px solid red; */
      width: 34%;
      min-height: 2rem;
      margin: 3rem 0 0 3.2rem;
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      font-weight: 600;
  }
  .Pricediv2{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: gray;
    margin-top: 0.1rem;
}
.cartdiv{
        /* border: 1px solid red; */
        width: 35%;
        min-height: 3rem;
        margin: 1rem 0 0 3.2rem;
        display: flex;
        gap:1rem;
        border-radius: 0.8rem;
        font-size: 1.2rem;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(90deg,rgb(220,87,229),rgb(138,98,250));
        color:white;
        cursor: pointer;

}
.cartIcon{
  font-size: 1.2rem;
  margin-top: -0.2rem;

}
.contactdiv{
  /* border: 1px solid red; */
  width: 85%;
  min-height: 10rem;
  margin: 4rem 0 0 3.2rem;
  display: flex;
  justify-content: space-between;
 
}

.Videocall{
  /* border: 1px solid red; */
  width: 40%;
  min-height: 8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 0 1rem 2rem;
  border-radius: 0.8rem;
}
.bookmeeting{
  /* border: 1px solid red; */
  width: 40%;
  min-height: 10rem;
}
.VideocallInsidediv{
  display: flex;
  /* border: 1px solid red; */
  min-height: 5rem;
  gap: 3%;

  
}
.VideocallInsidediv1{
  /* border: 1px solid red; */
  width: 20%;
  font-size: 1.3rem;
  border-radius: 50%;
  height: 3rem;
  background-color: rgb(97, 203, 97);
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoIcon{
  /* margin: 0.9rem 0 0 0.8rem; */
  color: white;

}
.VideocallInsidediv2{
  /* border: 1px solid red; */
  min-height: 4rem;
  width: 75%;
}
.P3{
  font-size: 0.95rem;
  font-weight: 650;
  color: rgb(40, 39, 39);
}
.P4{
  font-size: 0.8rem;
  font-weight: 400;
}
.btn{
  /* border: 1px solid red; */
  min-height: 2.7rem;
  width: 90%;
  border-radius: 0.7rem;

  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(rgb(244, 241, 241),rgb(182, 240, 163)) ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
.homeIcon{

  color: white;
}
.bookmeetingInsidediv{
  width: 20%;
  font-size: 1.3rem;
  border-radius: 50%;
  height: 3rem;
  background-color: rgb(222,87,229);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2{
  min-height: 2.7rem;
  width: 90%;
  border-radius: 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(rgb(237, 236, 236),rgb(252, 207, 198)) ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* <------------------------carousel part--------------------------> */

.maindiv1{
  width: 43%;
  min-height: 50rem;
  position: relative;


}

.carouselDiv{
  overflow: hidden;
  scroll-behavior: smooth;
  min-width: 90%;
  min-height: 80%;
  display: flex;
 align-items: center;
}


.img{
  min-width: 100%;
  min-height: 100%;

}

     
.preBtn,.nextBtn{
  z-index: 100;
  position: absolute;
  width:60px;
  height: 60px;
  font-size: 50px;
  /* border:1px solid red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.614);
  
  
}
.nextBtn{
right:2rem;
}
.nextBtn>p{
  margin-top: -0.5rem;
  color: rgb(141, 137, 137);
}
.preBtn{
  left:2rem;
}
.preBtn>p{
  margin-top: -0.5rem;
  color: rgb(141, 137, 137);
}









/* <---------------------------------------------product div---------------------------> */

.productmaindiv{
  min-height: 14rem;
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  margin: 5rem auto;
  gap: 4%;

}
.productdiv1{
  min-height: 14rem;
  /* border: 1px solid red; */
  width: 48%;
}
.productdiv2{
  min-height: 12rem;
  border: 1px solid rgb(217, 183, 238);
  width: 48%;
  border-radius: 0.7rem;
  background-color: rgb(249,249,250);
}
.Ptagdiv{
  min-height: 6rem;
  /* border: 1px solid red; */
}
.P5{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(79,50,103)
}
.P6{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(79,50,103);
  margin-top: 0.3rem;
}
.productdetail{
  min-height: 6rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.dimension{
  min-height: 10rem;
  border: 1px solid rgb(217, 183, 238);
  width:30%;
  border-radius: 0.7rem;
  background-color: rgb(249,249,250);
}

.P7{
  display: flex;
  margin: 1rem 0 0 1rem;
  gap:0.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(79,50,103)
}
.dimensionIcon{
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: rgb(79,50,103)
 
}
.P8{
  margin: 0.2rem 0 0 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(79,50,103)
}
.productDiamonddiv{
  display: flex;
  gap:1rem;
  margin: 4rem 0 0 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(79,50,103)

}
.diamondIcon{
  margin: 0.3rem 0 0 1rem;
  color: rgb(79,50,103)
}
.productdiv2inside{
  min-height: 5rem;
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  margin: 2rem auto;
  gap: 1%;
}
.productdiv2inside1{
  min-height: 5rem;
  /* border: 1px solid rgb(217, 183, 238); */
  width: 23%;
  text-align: center;
}
.P9{
  font-size: 1rem;
  font-weight: 700;
  color: rgb(79,50,103)
}
.P10{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(79,50,103);
 margin-top: 1rem;
}

/* <------------------------------------------------------------------------------------> */

.cardDiv{
  min-height: 9rem;
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  margin: 5rem auto;
  justify-content: space-between;
}
.P11{
  font-weight: 700;
  color: rgb(79,50,103);
  font-size: 1.3rem;
 
}
.P12{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(79,50,103);

}
.cardDiv1{
  min-height: 9rem;
  /* border: 1px solid red; */
  width: 45%;
  display: flex;
  background-color: rgb(242,240,255);
  border-radius: 0.7rem;
}
.cardDiv2{
  min-height: 9rem;
  /* border: 1px solid red; */
  width: 45%;
}
.cardDiv1Inside1{
  /* border: 1px solid red; */
  min-height: 9rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
 

}
.cardDiv1Inside2{
  /* border: 1px solid red; */
  min-height: 9rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.arrowIcon{
  font-size: 4rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.7rem;
}
.appleIconDiv{
  min-height: 2.8rem;
  width: 70%;
  border: 1px solid rgb(217, 183, 238);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem
}
#appleIconDiv2{
  font-size: 1.1rem;
  gap: 5%;
}
#cardDiv2{
  background-color: rgb(255,251,228);
}







@media all and (max-width:1000px){
  
  .maindiv{
    flex-direction: column;
  }
  .maindiv1{
    min-width:100%;
    min-height: 30rem;
  }
  .carouselDiv{
    min-width: 100%;
    min-height: 90%;
  }
  .maindiv2{
    width: 100%;
    padding-left: 0rem;
  }
  .bagIcon{
    font-size: 1rem;
   }
  .productmaindiv{
   flex-direction: column;
   gap:2rem;
  }
  .productdiv1{
    width: 100%;
  }
  .productdiv2{
    width: 100%;
  }
  .stardiv{
    width: 25%;
  }
  .cardDiv{
    flex-direction: column;
    gap:2rem;
  }
  .cardDiv1{
    width: 100%;
  }
  .deliveryPtag{
    width: 46%;
  }
  .contactdiv{
    flex-direction: column;
    gap: 2rem;
  }
  .Videocall{
    width: 90%;
    margin: auto;
  }
  .Pricediv{
    width: 40%;
  }
  .Pricediv1{
    font-size: 1.4rem;
  }
  .Pricediv2{
    font-size: 1.4rem;

  }


}

@media all and (max-width: 500px){
  .productdetail{
    flex-direction: column;
    gap:1rem;
  }
  .cartdiv{
    width: 60%;
    font-size: 1rem;
  }
  .maindiv1{
    min-height: 15rem;
  }
  .maindiv2{
    width: 100%;
    padding-left: 0rem;
  }
  .carouselDiv{
    width: 100%;
    min-height: 90%;
  }
  .dimension{
    width: 90%;
    margin: auto;
  }
  .appleIconDiv{
    font-size: 1rem;
  }
  #appleIconDiv2{
    font-size: 0.7rem;
  }
  .deliveryPtag{
    width: 50%;
    font-size: 0.7rem;
  }
  .stardiv{
    width: 45%;
  }
  .Pricediv{
    width: 60%;
  }
  .Pricediv1{
    font-size: 1rem;
  }
  .Pricediv2{
    font-size: 1rem;
  }
  .preBtn,.nextBtn{
    width:40px;
    height: 40px;
  }
}